<div id="root">
  <main>
    <article class="review">
      <div class="img-container">
        <img
          src="https://course-api.com/images/people/person-2.jpeg"
          alt="anna johnson"
          class="person-img" /><span class="quote-icon"
          ><span>svg gelecek</span></span
        >
      </div>
      <h4 class="author">anna johnson</h4>
      <p class="job">web designer</p>
      <p class="info">
        Helvetica artisan kinfolk thundercats lumbersexual blue bottle. Disrupt
        glossier gastropub deep v vice franzen hell of brooklyn twee enamel pin
        fashion axe.photo booth jean shorts artisan narwhal.
      </p>
      <div class="btn-container">
        <button class="prev-btn"><span>svg gelecek</span></button
        ><button class="next-btn"><span>svg gelecek</span></button>
      </div>
      <button class="btn btn-hipster">surprise me</button>
    </article>
  </main>
</div>
